#bloqueAnimacion {
    animation: centro 1.5s ease 0s 1 normal none;
    text-align: center;
}

/*Animación del centro*/
@keyframes centro {
    0% {
      transform: scale(0.5);
    }
  
    100% {
      transform: scale(1);
    }
  }

